.card-post {
  margin: 0.75rem !important;
  padding-left: 0rem !important;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.ant-card-body {
  padding: 12px !important;
  padding-left: 0px !important;
}
